{% extends "base.html" %}
{% block title %}{{ document.title }}{% endblock %}
{% block main %}
<article>
  <h1>{{ document.title }}</h1>
  <p class="provenance">
    <span>{{ document.collection }}</span>
    <span>{{ document.document_id }}</span>
    <span>{{ document.path }}</span>
  </p>
  {% if document.has_blocked_images and not load_remote_images %}
  <p class="role-warning">
    {{ blocked_note }}
    <a class="role-command" href="?images=on">{{ blocked_action }}</a>
  </p>
  {% endif %}
  {% if mark_withheld %}
  <p class="role-warning">{{ mark_withheld }}</p>
  {% endif %}
  {{ document.body_html | safe }}
</article>
{% endblock %}
